@use "tokens" as *;

%fem-text-body-100 {
  font-family: $fem-text-body-100-family;
  font-style: $fem-text-body-100-style;
  font-weight: $fem-text-body-100-weight;
  line-height: $fem-text-body-100-height;
  font-size: $fem-text-body-100-size;
}
%fem-text-button-primary {
  font-family: $fem-text-button-primary-family;
  font-style: $fem-text-button-primary-style;
  font-weight: $fem-text-button-primary-weight;
  line-height: $fem-text-button-primary-height;
  font-size: $fem-text-button-primary-size;
}
%fem-text-eyebrow-100 {
  font-family: $fem-text-eyebrow-100-family;
  font-style: $fem-text-eyebrow-100-style;
  font-weight: $fem-text-eyebrow-100-weight;
  line-height: $fem-text-eyebrow-100-height;
  font-size: $fem-text-eyebrow-100-size;
  letter-spacing: $fem-text-eyebrow-100-space;
}
%fem-text-heading-serif-100 {
  font-family: $fem-text-heading-serif-100-family;
  font-style: $fem-text-heading-serif-100-style;
  font-weight: $fem-text-heading-serif-100-weight;
  line-height: $fem-text-heading-serif-100-height;
  font-size: $fem-text-heading-serif-100-size;
}