$fem-breakpoint-sm: 768px;
$fem-border-200: 10px;
$fem-offset-100: 12px;
$fem-offset-200: 16px;
$fem-offset-300: 20px;
$fem-offset-400: 24px;
$fem-offset-500: 30px;
$fem-offset-600: 32px;
$fem-text-base: 0.625em;
$fem-text-body-100-family: 'Montserrat', sans-serif;
$fem-text-body-100-style: normal;
$fem-text-body-100-weight: 500;
$fem-text-body-100-height: 2.3rem;
$fem-text-body-100-size: 1.4rem;
$fem-text-eyebrow-100-family: 'Montserrat', sans-serif;
$fem-text-eyebrow-100-style: normal;
$fem-text-eyebrow-100-weight: 500;
$fem-text-eyebrow-100-height: 1.463rem;
$fem-text-eyebrow-100-size: 1.2rem;
$fem-text-eyebrow-100-space: 0.5rem;
$fem-text-heading-serif-100-family: 'Fraunces', serif;
$fem-text-heading-serif-100-style: normal;
$fem-text-heading-serif-100-weight: 700;
$fem-text-heading-serif-100-height: 3.2rem;
$fem-text-heading-serif-100-size: 3.2rem;