 :root {
  --fem-color-background-primary: #f2eae2;
  --fem-color-background-secondary: #ffffff;
  --fem-color-background-button-primary-rest: #3d8168;
  --fem-color-background-button-primary-active: #1a4042;
  --fem-color-background-button-primary-focus: #1a4042;
  --fem-color-border-button-primary-rest: #3d8168;
  --fem-color-border-button-primary-active: #3d8168;
  --fem-color-border-button-primary-focus: #3d8168;
  --fem-color-text-button-primary-rest: #ffffff;
  --fem-color-text-button-primary-active: #ffffff;
  --fem-color-text-button-primary-focus: #ffffff;
  --fem-color-text-primary: #6c7289;
  --fem-color-text-secondary: #000000;
  --fem-color-text-tertiary: #3d8168;
  --fem-color-fill-icon-primary-rest: #ffffff;
}
