@use "tokens/scss/mixins" as *;

body {
  display: flex;
  justify-content: center;
  background-color: var(--fem-color-background-primary);
  color: var(--fem-color-text-primary);

  @extend %fem-text-body-100;
}
